$outline-color:rgba(124, 124, 255, 1);
$border-color: rgba(66, 66, 255, 1);
$border-color-alert: rgba(255, 0, 0, 1);
$outline-color-alert: rgba(253, 110, 110, 1);
$background-color-alert: rgba(253, 110, 110, 0.5);
$screen-text-color: rgb(90, 90, 90);