<section>
    <div [hidden]="submitted">
        <form (submit)="onSubmit()" #contactForm="ngForm">
            <div class="contac-info">
                <input type="text" placeholder="Type contact's name..." required [(ngModel)]="contactData.name"
                    name="name">
                <input type="text" placeholder="Type contact's surname..." required [(ngModel)]="contactData.surname"
                    name="surname">
                <input type="text" placeholder="Type contact's phone number..." [(ngModel)]="contactData.phone"
                    name="phone" pattern="^(?=.*[0-9])[- +()0-9]+$">
                <input type="text" placeholder="Type contact's email address..." [(ngModel)]="contactData.email"
                    name="email">
            </div>
            <div class="submit-btn">
                <input type="submit" value="Add a contact"
                    [disabled]="!contactForm.form.valid || ((contactData.phone?.trim() == '' && contactData.email?.trim() == '') || contactData.name?.trim() == '' || contactData.surname?.trim() == '')">
            </div>
        </form>
    </div>

    <div [hidden]="!submitted">
        <div class="row">
            <div>Contact's name will be:&nbsp;</div>
            <div>{{contactData.name}}</div>
        </div>
        <div class="row">
            <div>Contact's surname will be:&nbsp;</div>
            <div>{{contactData.surname}}</div>
        </div>
        <div class="row">
            <div>Contact's phone will be:&nbsp;</div>
            <div>{{contactData.phone}}</div>
        </div>
        <div class="row">
            <div>Contact's Email will be:&nbsp;</div>
            <div>{{contactData.email}}</div>
        </div>
        <button (click)="submitted=false">Edit</button>
    </div>
</section>