<div class="contact-details">
    <div class="details" *ngIf="!contactsService.edit">
        <h3>
            Name: {{contactId!.name}} {{contactId!.surname}}
        </h3>
        <h3 *ngIf="contactId!.phone">
            Phone: {{contactId!.phone}}
        </h3>
        <h3 *ngIf="contactId!.email">
            Email: {{contactId!.email}}
        </h3>
    </div>

    <div class="update" *ngIf="contactsService.edit" [formGroup]="updateForm">

        <label *ngFor="let item of contactFields">
            New {{item[0].toUpperCase() + item.slice(1)}}:
            <input type="text" formControlName="{{item}}"
                [class.alert]="checkAbstractControlValidity(item)">
        </label>

        <div class="buttons update">
            <button (click)="cancelUpdateContact()">Cancel</button>
            <button [disabled]="updateForm.invalid || checkFormValidity()" (click)="updateContact()"
                [title]="showBtnTitle()">Update</button>
        </div>

    </div>

    <div class="buttons">
        <button (click)="makeFavorite()">Favorite</button>
        <button (click)="editContact()">Edit</button>
        <button (click)="reset()">Close</button>
        <button (click)="deleteContact()">Delete</button>
    </div>

</div>