<div class="contact-details">
    <div class="details" [formGroup]="updateForm" >

        <span class="details-block" *ngFor="let item of contactDetails" [class.edit]="contactEdit">
            <h3>
                {{ item.value }}:&nbsp;
            </h3>
            <h3 *ngIf="!contactEdit">
                {{ getContactDetail(item.key) }}
            </h3>
            <input *ngIf="contactEdit" [formControlName]="item.key" (keydown.enter)="updateContact()">
        </span>

        <button *ngIf="contactEdit" (click)="updateContact()" [disabled]="updateForm.invalid">Update</button>
    </div>

    <div class="buttons">
        <button (click)="toggleFavorite()">Favorite</button>
        <button (click)="editContact()" *ngIf="!contactEdit">Edit</button>
        <button (click)="cancelUpdateContact()" *ngIf="contactEdit">Cancel</button>
        <button (click)="reset()">Close</button>
    </div>

    <button (click)="deleteContact()" class="delete-btn">Delete</button>

</div>