<div class="contact-details">
    <form class="details" [formGroup]="updateForm" (submit)="updateContact()">

        <span class="details-block" *ngFor="let item of contactFields" [class.edit]="contactEdit">
            <p>
                {{ item.title }}:&nbsp;
            </p>
            <p *ngIf="!contactEdit">
                {{ getContactDetail(item.name) }}
            </p>
            <input *ngIf="contactEdit" [formControlName]="item.name">
        </span>

        <button *ngIf="contactEdit"  [disabled]="updateForm.invalid">Update</button>
    </form>

    <div class="buttons">
        <button (click)="toggleFavorite()">Favorite</button>
        <button (click)="editContact()" *ngIf="!contactEdit">Edit</button>
        <button (click)="cancelUpdateContact()" *ngIf="contactEdit">Cancel</button>
        <button (click)="reset()">Close</button>
    </div>

    <button (click)="deleteContact()" class="delete-btn">Delete</button>

</div>