<div class="form" [class.visible]="visible">
    <form [formGroup]="updateForm" (submit)="createContact()">
        <span>New Contact</span>

        <label *ngFor="let item of contactFields">
            <input type="text" [placeholder]="item.title" [formControlName]="item.name"
                [class.alert]="isAbstractControlInvalid(item.name)" #input>
        </label>

        <div class="buttons">
            <button type="button" (click)="closeAddContactForm()">Cancel</button>
            <button type="submit" [disabled]="updateForm.invalid || isFormInvalid()" [title]="showBtnTitle()">
                Create contact
            </button>
        </div>
    </form>
</div>