<!-- <div class="form" *ngIf="showFormVisible" #newContact [class.visible]="visible"> -->
<div class="form" *ngIf="showFormVisible" [@addContactForm]="stateName"
    (@addContactForm.start)="animateAddContactForm()" (@addContactForm.done)="hideAddContactForm($event)">
    <form [formGroup]="updateForm">
        <span>New Contact</span>

        <label *ngFor="let item of contactFields">
            {{item[0].toUpperCase() + item.slice(1)}}
            <input type="text" placeholder="{{item[0].toUpperCase() + item.slice(1)}}" formControlName="{{item}}"
                [class.alert]="checkAbstractControlValidity(item)">
        </label>

        <div class="buttons">
            <button (click)="cancelContactCreation()">Cancel</button>
            <button type="submit" [disabled]="updateForm.invalid || checkFormValidity()" (click)="createContact()"
                [title]="showBtnTitle()">Create
                contact</button>
        </div>
    </form>
</div>