@import '../../styles/colors.scss';

form {
    display: flex;

    .submit-btn {
        margin: auto 0;
        margin-left: 5px;
    }
}

.contac-info{
    display: flex;
    flex-direction: column;

    div:not(:last-child) {
        margin-bottom: 5px;
    }

    input {
        width: 200px;
        box-sizing: border-box;
        &:focus {
            outline-offset: 3px;
            outline-color: $outline-color;
            border-color: $border-color;
            border-radius: 3px;

            &.ng-invalid {
                outline-color: $outline-color-alert;
                border-color: $border-color-alert;
            }
        }

        &.ng-invalid {
            border-color: $border-color-alert
        }
    }
}

.row {
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
}

.alert {
    width: 200px;
    margin-top: 4px;
    background-color: $background-color-alert;
    color: $border-color-alert;
}

.buttons {
    display: flex;

    div:not(:first-child) {
        margin-left: 5px;
    }
}
