<section>
    <div class="container">
        <div class="contacts-list">
            <div class="top-line">
                <add-contact></add-contact>
            </div>
            <div class="list-container">
                <contacts-list [contactList]="contactsListParent"></contacts-list>
            </div>
        </div>
        <div class="contact">
            <contact-details *ngIf="contactDetailsParent" [contactDetails]="contactDetailsParent"></contact-details>
        </div>
    </div>
</section>