.top-line {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    add-contact-button {
        position: absolute;
        top: 0;
        left: 0;
    }
}
