.container {
    background-color: #c2c2c2;
    max-width: 1200px;
    height: 800px;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.contacts-list {
    background-color: blanchedalmond;
    width: 35%;
    border-right: 1px solid black;
    overflow: hidden;
}

.contact {
    width: 65%;
    background-color: khaki;
}

.list-container {
    max-height: 750px;
    overflow-y: auto;
}

.top-line {
    height: 50px;
}
