<section>
    <div class="container">
        <aside>
            <create-contact></create-contact>
            <div class="list-container">
                <contacts-list (selectId)="selectContact($event)"></contacts-list>
            </div>
        </aside>
        <div class="contact">
            <contact-details *ngIf="selectedContactParent" [selectedContactId]="selectedContactParent"
                (resetContact)="selectedContactParent = $event"></contact-details>
        </div>
    </div>
</section>