section {
    height: 100%;
}

.container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.contacts-list {
    background-color: white;
    width: 35%;
    border-right: 1px solid black;
    overflow: hidden;
}

.contact {
    width: 65%;
    background-color: white;
}

.list-container {
    max-height: 750px;
    overflow-y: auto;
}

contact-details {
    display: flex;
    height: 100%;
}
