<section>
    <div class="container">
        <div class="contacts-list">
            <create-contact></create-contact>
            <div class="list-container" #listContainer>
                <contacts-list (selectId)="selectContact($event)"></contacts-list>
            </div>
        </div>
        <div class="contact">
            <contact-details *ngIf="selectedContactParent" [selectedContactId]="selectedContactParent" (resetContact)="selectedContactParent = $event"></contact-details>
        </div>
    </div>
</section>