<div class="add-contact" [title]="'Add contact'" (click)="showForm()">
    <span class="plus"></span>
</div>

<div class="form" *ngIf="showFormVisible" #newContact [class.visible]="visible">
    <form [formGroup]="checkForm">
        <span>New Contact</span>

        <label>
            Name
            <input type="text" placeholder="Name" formControlName="name" [class.alert]="checkAbstractControlValidity(getFormControl('name'))">
        </label>

        <label>
            Surname
            <input type="text" placeholder="Surname" formControlName="surname" [class.alert]="checkAbstractControlValidity(getFormControl('surname'))">
        </label>

        <label>
            Phone
            <input type="text" placeholder="Phone" formControlName="phone" [class.alert]="checkAbstractControlValidity(getFormControl('phone'))">
        </label>

        <label>
            Email
            <input type="email" placeholder="Email" email formControlName="email" [class.alert]="checkAbstractControlValidity(getFormControl('email'))">
        </label>

        <div>
            <button type="submit" [disabled]="checkForm.invalid || checkFormValidity()" (click)="createContact()">Create contact</button>
        </div>
    </form>
</div>